5_physio appointment.json
{
  "name": "5_physio appointment",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nThis is Dr.Strange's clinic. How can I help you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "f8c672b1-3d3f-43b0-9c78-2236e47bf9f6",
      "name": "When chat message received",
      "webhookId": "0a271c75-7483-4b59-aaef-2ef8d8043663"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# Role \nYou are a  smart  and helped receptionist agent for Dr Stephen Stange Physiotherpy clinic. \n\n# How to behave / Waht to do\n-Always great the users with the message ,  \"Welcome to Dr Strange's clinic. How can I help you?\" But not in every message. Just for the  first time.\n-The patients will try to schedule an appointment with Dr.strange. you have to check for the free slots on Dr.starnge's calendar and suggest the patients the available slots for the requested date.\n- Once they confirm the slot you have to block the calender using tools.\n\n# Tools available\n-create new events: use  this tool to block the calendar.Before blocking the calendar , you will get event tool to check for available slots.\n-Get events: use this tool to look for the events on the calender. This will give you  an idea of the available slots.\n\n# Tone\n- Be profissional,polite, caring\n\n# Important information\n-current date and time:{{ $json }}\n- The working timings are 9 am to 6 pm. if the patient is asking for a slot before 9 am  or after 6 pm, tell them to book the slot for  another day.\n-don't give slots for a sunday and public holiday's.\n- Don't give any slots between 1 pm to 2 pm because this is Doctor's lunch time.\n- Block the slot for 30 mins only. Don't give more time that. \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "ca72807b-fbce-4169-b226-5d333d02a2ac",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "9f2e9384-c0ed-4249-8dbe-8885f8d073a2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hSaxC70wy6Cv2l2B",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "606b07c5-8e25-4c41-826d-d0f106016cae",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "marikantigowthami22@gmail.com",
          "mode": "list",
          "cachedResultName": "marikantigowthami22@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        528,
        208
      ],
      "id": "84e4ab3f-4d5d-43cb-839a-cf989b48fddf",
      "name": "Create new events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "22ntbxHhioxRK648",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "marikantigowthami22@gmail.com",
          "mode": "list",
          "cachedResultName": "marikantigowthami22@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        656,
        208
      ],
      "id": "53ec2508-5cd4-4588-ac52-d773035a3b98",
      "name": "Get events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "22ntbxHhioxRK648",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create new events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d4510d47-228e-4a1a-b203-03bf1dcad4ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "affc267024c6da2f4cda14cbd73e475db9af41531ee1eef3aebfd1271fadcff1"
  },
  "id": "XAjqV7K1UNkXWeBdLSZTk",
  "tags": []
}